@import "padding-margin";
@import "fonts";
@import "colors";

$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

* {
  font-family: "Raleway";
  color: #333333;
}

body {

  .mockup-content {
    font-family: "Blokk";
    line-height: 2em;
    text-align: center;
    opacity: .3;
    font-size: 18px;
  }

  h1.title {
    font-weight: 700;
    letter-spacing: -1px;
    font-size: 4vw;
    text-align: center;
  }

  .center {
    text-align: center;
  }

  .morph {
    display: inline-block;
    cursor: pointer;
    letter-spacing: 2px;
    background: $pomegranate;
    padding:20px 40px 20px 40px;
    font-weight: 600;
    outline: none;
    font-size: 1.4em;

    border:0;
    color: white;
    &:hover {
      color:white;
    }
  }
}
