@import "padding-margin";
@import "fonts";
@import "colors";

$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

* {
  font-family: "Raleway";
  color: #333333;
  -webkit-font-smoothing: antialiased !important;
}

.thin {
  font-weight: 200;
}

.mockup-content {
  font-family: "Blokk";
  line-height: 2em;
  text-align: center;

  color: #bbb;
  font-size: 18px;
  width: calc(100% - 210px);
  margin: 0 auto;
}

h1.title {
  font-weight: 700;
  letter-spacing: -1px;
  font-size: 4vw;
  text-align: center;
}

.center {
  text-align: center;
}

div.button {
  display: inline-block;
  border: 1px solid $greensea;
  color: $greensea;
  box-shadow: none;
  border-radius: 5px;
  padding: 15px 25px 15px 25px;
  cursor: pointer;
  transition: all .2s ease-out;
}
div.button:hover {
  box-shadow: none;
  border-color: darken($greensea,10%);
  color: darken($greensea,10%);
}

div.full-modal {
  -webkit-transition: all  .3s ease-out;
  -moz-transition: all  .3s ease-out;
  -ms-transition: all  .3s ease-out;
  -o-transition: all  .3s ease-out;
  transition: all  .3s ease-out;

  h1 {
    font-weight: 800;
  }
}

div.full-modal, div.full-modal.hidden {
  opacity: 0;
  z-index: -1;
  position: fixed;
  top:0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transform: scale(.9,.9);
  background: rgba(255,255,255,1);




}

div.full-modal.opened {
  opacity: 1;
  top:0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transform: scale(1,1);

  z-index: 5000;
}
