@import "padding-margin";
@import "fonts";
@import "colors";

$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

* {
  font-family: "Raleway";
  color: #333333;
  -webkit-font-smoothing: antialiased !important;
}

.thin {
  font-weight: 200;
  font-size: 24px;
  /* implementations of U: */
  color: #333333;
  margin-top: 17px;
  margin-bottom: 46px;
}

.mockup-content {
  font-family: "Blokk";
  line-height: 2em;
  text-align: center;

  color: #bbb;
  font-size: 18px;
  width: calc(100% - 210px);
  margin: 0 auto;
}

h1.title {
  margin-top: 48px;
  font-weight: 700;
  letter-spacing: -2px;
  font-size: 48px;
  text-align: center;

}

.menu {
  width: 550px;
  margin: 0 auto;
  display: flex;
  padding: 0 10px 0 10px;
  .item {
    /* MODALS EFFECTS: */

    flex-grow: 1;
    text-align: center;
    padding: 15px 0 15px 0;
    border-top: 1px solid #F0F0F0;
    border-bottom: 1px solid #F0F0F0;
    a {
      font-weight: 400;
      font-size: 14px;
      color: rgba(0,0,0,.6);
      letter-spacing: .1em;
      text-decoration: none !important;

      &:hover {
        text-decoration: none;
      }
    }
    &:hover {
      padding-bottom: 14px;
      border-bottom: 2px solid rgba(0,0,0,.6);
    }

    &.active {
      padding-bottom: 14px;

      a {
        color: $greensea;
      }

      border-bottom-width: 2px;
      border-bottom-color: $greensea;

    }

  }
}

.center {
  text-align: center;
}



div.full-modal {
  -webkit-transition: all  .3s ease-out;
  -moz-transition: all  .3s ease-out;
  -ms-transition: all  .3s ease-out;
  -o-transition: all  .3s ease-out;
  transition: all  .3s ease-out;

  h1 {
    font-weight: 800;
  }
}

div.full-modal, div.full-modal.hidden {
  opacity: 0;
  z-index: -1;
  position: fixed;
  top:0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transform: scale(.9,.9);
  background: rgba(255,255,255,1);




}

div.full-modal.opened {
  opacity: 1;
  top:0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transform: scale(1,1);

  z-index: 5000;
}

div.button {
  display: inline-block;
  border: 1px solid $greensea;
  color: $greensea;
  box-shadow: none;
  border-radius: 5px;
  padding: 15px 25px 15px 25px;
  cursor: pointer;
  transition: all .2s ease-out;
}
div.button:hover {
  box-shadow: none;
  border-color: darken($greensea,10%);
  color: darken($greensea,10%);
}
.modals-page {
  padding-top: 70px;

  p.info {
    /* Here are some ideas : */
    font-weight: 200;
    text-align: center;
    font-size: 22px;
    letter-spacing: -1px;
    color: #333333;
    line-height: 40px;
    margin-bottom: 34px;
  }

  .buttons {
    display: flex;
    padding: 0 150px 0 150px;

    justify-content: space-around;

    .button {
      flex-grow: 1;
      margin: 0 5px 0 5px;
      width: 200px;
    }
  }
}

.container-sm {
  width: 850px;
  margin:0 auto;
}
