
<div ng-controller="ModalController" class="modals-page" >


  <div class="full-modal center  {{modalContentState}} {{modalState}}" ng-click="dismiss()" >
    <div class="container " >
      <h1 class="animated" >Modal Content</h1>
      <hr/>
      <div class="mockup-content ptx animated fadeInUp">
        Kohlrabi radish okra azuki bean corn fava bean mustard tigernut juccama green bean celtuce collard greens
        avocado quandong. Pea horseradish azuki bean lettuce avocado asparagus okra.

      </div>

      <hr/>
      <p class="center medium  thin">
        Click anywhere to dismiss the modal
      </p>

    </div>
  </div>
  <div class="center container-sm anim-in-out anim-zoom-out"  ng-keyup="keyup()" >
    <p class="info">
      Here are some ideas about modal animations and effects, view the examples below
      by clicking on the buttons to trigger the modal animation.
    </p>
    <div class="buttons">
      <div class="button" ng-click="toggleState()">
        SCALE
      </div>
      <div class="button" ng-click="toggleState()">
        BOUNCE
      </div>
      <div class="button" ng-click="toggleState()">
        SKEW
      </div>
    </div>
  </div>
</div>
